<html>
  <body>
    <p>PAGE POTIN</p>
    <p>Voici la page du potin n° <%= @gossip %></p> 
    <p>Son auteur : <%= @gossip.author %></p>
    <p>Son message : <%= @gossip.content %></p>

    <a href="/">Back to index</a>
  </body>
</html>